[cbs-kilo]
name=cbs kilo testing
baseurl=http://cbs.centos.org/repos/cloud7-openstack-kilo-testing/x86_64/os
enabled=1
gpgcheck=0

[cbs-common]
name=cbs kilo testing
baseurl=http://cbs.centos.org/repos/cloud7-openstack-common-testing/x86_64/os
enabled=1
gpgcheck=0
